.navbar {
  padding: 0.75rem;
}

.nav-link {
  color: var(--bs-white);
}

.nav-link.active {
  color: var(--bs-info);
}

.navigation-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
